[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "linkspotter"]
	path = linkspotter
	url = https://github.com/orange-opensource/linkspotter
	shallow = true
	registered = true
